::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: var(--lime-mid);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--lime);
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--lime-mid) var(--dark);
}